<div class="center hero-unit">
    <h1>Witaj w Carminder! </h1>
    <p>Zarejstruj swój samochód i nigdy więcej nie martwi się o przeglądy, OC lub AC!
     </p>

    <p><%= link_to 'Zarejestruj!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>
